################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
/.vs
/src/.vs/DFO/config
/src/DFO/bin/Debug/net6.0
/src/DFO/obj
/src/DFO/bin/Debug/net5.0
/publish
/src/DFO/bin/Release/net5.0
